body
{
    font-family: 'Courier New', Courier, monospace;
}

#playingArea
{
    position: absolute;
    border: 1px black solid;
    background-color: white;
    top: 10px;
    left: 10px;
}

#paddle
{
    position: absolute;
    bottom: 30px;
    left: 228px;
    width: 64px;
    height: 16px;
    background-color: coral;
    border-radius: 5px;
}

#ball
{
    position: absolute;
    top: 8px;
    left: 100px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: aqua;
}

#score
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 10px);
    height: 20px;
    color: white;
    background-color: green;
    padding: 5px;
}

#controls
{
    position: absolute;
    z-index: 5;
    top: 40px;
    width: 200px;
    margin-left: calc((100% - 216px)/2);
    border: 3px solid black;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    display: none;
    border-radius: 5px;
}

#controls h3
{
    color: white;
    background-color: gray;
    padding: 10px 5px;
    margin-top: 0px;
}

#controls button, #controls select
{
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
    min-width: 100px;
    border-radius: 5px;
}

#gear
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
}

fieldset
{
    text-align: left;
    width: 70%;
    margin: 10px auto;
}
